<div class="container mt-4">
    <div class="row mb-3">
      <div class="col-md-6">
        <input
          class="form-control"
          placeholder="Search by any field..."
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"
        />
      </div>
    </div>
  
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th (click)="setSort('name')">Name</th>
          <th (click)="setSort('address')">Address</th>
          <th (click)="setSort('class')">Class</th>
          <th (click)="setSort('studentId')">ID</th>
          <th (click)="setSort('parentName')">Parent Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.address }}</td>
          <td>{{ student.class }}</td>
          <td>{{ student.studentId }}</td>
          <td>{{ student.parentName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  